{
  "plugins": [
    ["@babel/plugin-transform-typescript",{
      "isTSX":true // 编译ts
    }],
    "babel-plugin-inline-import-data-uri",// 支持import的方式增加静态资源文件
    "@babel/plugin-transform-member-expression-literals", // 确保在使用关键字的时候，编译可以照样使用字符串
    "@babel/plugin-transform-object-assign", // Object.assgin不兼容IE
    "@babel/plugin-transform-property-literals", // 对象属性值的编译
    // 避免多次编译出helper函数：
    // Babel转移后的代码想要实现和原来代码一样的功能需要借助一些帮助函数
    ["@babel/plugin-transform-runtime",{
      "helpers":false
    }],
    // 编译扩展符
    "@babel/plugin-transform-spread",
    // 编译模板字符串
    "@babel/plugin-transform-template-literals",
    // 编译导出
    "@babel/plugin-proposal-export-default-from",
    // export * as ns from 'mod';
    "@babel/plugin-proposal-export-namespace-from",
    // 编译 ... 运算符
    "@babel/plugin-proposal-object-rest-spread",
    // 编译
    ["@babel/plugin-proposal-decorators",{
      "legacy":true
    }],
    // 编译class
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",{
      "modules":false, //  如果选择支持es模式就是true
      "targets":{
        "broswers":[
          "last 2 versions",
              "Firefox ESR",
              "> 1%",
              "ie >= 9",
              "iOS >= 8",
              "Android >= 4'"
        ]
      }
    }]
  ]
}
